* {
    padding: 0;
    margin: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(backround1.jpg);
    background-size: cover;
    color: #333;
    font-style: italic;
}

.container {
    width: 800px;
    margin: auto; 
    background-color:skyblue;
}


.header {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px white;
    line-height: 50%;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    
}

.header a {
    text-decoration: none;
    color: white;
    padding: 3px;
}

.header a:hover {
    background-color: black;
    color: cyan;
}


.hero {
    height: 300px;
    background-image: url(Boruto.jpg);
    background-size: cover;
    background-position: 0 -50px;
    border-bottom: 5px solid cyan;
    border-top: 5px solid cyan;
}


.content {
    padding: 20px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
    text-align: left;
}

.content .penulis a {
    color: red;
    text-decoration: none;
}

.content p {
    margin-top: 20px;
    font-size: 14px; 
    text-align: center
}

.footer {
    background-color: #333;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.kir17{
    background-color: white;
    text-align: center;
}
.team7{
    margin-top: 20px;
}


/* Style Utama */
body {
    font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container1{

    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: auto;
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li a img, 
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);

}

.overlay:target img {
    animation: fadeAjah 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fadeAjah .5s .5s forwards;
}

/* navigasi */ 
.next, .prev {
    width: 57px;
    height: 93px;
    background-image: url(../Gallery/img/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../Gallery/img/prev.png);
    margin-left: -100px;
}

/* animasi */
@keyframes fadeAjah {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}
